.picture-wall {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.picture-wall-item {
  flex: 1 1 calc(33.333% - 10px);
  box-sizing: border-box;
}

.picture-wall-item img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 2px solid #ddd;
  border-radius: 15px;
  padding: 15px;
  object-fit: cover;
}
