.picture-wall {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.picture-wall-item {
  flex: 1 1 calc(33.333% - 10px);
  box-sizing: border-box;
}

.picture-wall-item img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 20px solid #ddd;
  border-radius: 20px;
  object-fit: cover;
}

.post-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.post-content img {
  border-radius: 15px; /* 可以调整数值来控制圆角大小 */
  overflow: hidden; /* 确保图片四周都有圆角 */
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}
